.main {
    width: 100%;
    height: 100%;
    position: absolute;
    gap: 50px;
    font-size: 25px;
    background: #202124;
    border-left: 1px solid #414144;
    display:flex;
}
.level{
    margin-left:10px;
}

.toggle{
    z-index:10;
    width:800px;
    height:600px;
}
.close{
    width:30px;
    height:30px;
}
.buttonSubmit{
    height:50px;
    width:100px;
}

.rows{
    display:flex;
    gap:40px;
}
.input{
    width:100px;
}